body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  background-color: #f1f2f6;
}

/*li
{
  display: inline-block;
  padding: 20px;
  background-color: #eccc68;
  text-align: center;
  width: 80%;
} */

nav
{
  width: 80%;
  text-align: center;
  background-color: #eccc68;
  padding: 20px;
  position: relative;
  display: inline-block;
}

nav img
{
  width: 10%;
}

.grid
{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: start;
  row-gap: 20px;
}

.grid img
{
  width: 100%;
}

.flex
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.flex img
{
  opacity: 0.75;
}

img:hover , img:focus
{
  opacity: 1;
  border: 2px solid #2f3640;
}

#image{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}